.pagination {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.pagination a {
  padding: 0.5rem;
  margin: 0.2rem;
  border: 1px solid #333;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}

.pagination .active a {
  background-color: #333;
}
