.pageNumbers {
  list-style: none;
  display: flex;
  color: white;
}

.pageNumbers li {
  padding: 10px;
  border: 1px solid white;
  cursor: pointer;
}

.pageNumbers li.active {
  background: white;
  color: black;
}
