input[type="radio"] {
  display: none;
}

label {
  position: relative;
  background-color: #4a5568;
  color: #ffffff;
  border-radius: 10px;
  margin: 2px;
  padding: 0.1em 0.5em;
  display: inline-flex;
  cursor: pointer;
}

label:hover {
  background-color: #727d91; /* Change this to your desired hover color */
}

input[type="radio"]:checked + label {
  background-color: #01cc65;
  color: white;
  box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
}
