@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.card:hover {
  transform: scale(1.03);
  background-color: #626e7d;
  cursor: pointer;
}

.card:hover {
  transform: translate(
    0,
    -3px
  ); /* Adjust the value to control the pop-out effect */
}

.badge {
  top: 10px;
  right: 20px;
  font-size: 17px;
}

.alive {
  box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
}

.dead {
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.534);
}

.unknown {
  box-shadow: 0 0 10px rgba(0, 85, 255, 0.562);
}
